<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ejunkins.rovercontroller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label= "Rover"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlStick"
            android:label="@string/title_activity_control_stick"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocketRunnable"
            android:label="@string/title_activity_socket_runnable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataSendThread"
            android:label="@string/title_activity_data_send_thread"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RightControlStick"
            android:label="@string/title_activity_right_control_stick"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>