[submodule "Software/android_app"]
	path = Software/android_app
	url = https://github.com/nasa-jpl/osr-android-app
[submodule "Software/rover_code"]
	path = Software/rover_code
	url = https://github.jpl.nasa.gov/ejunkins/osr_rover_code
