[submodule "software/android-app"]
	path = software/android-app
	url = https://github.com/nasa-jpl/osr-android-app
[submodule "software/rover-code"]
	path = software/rover-code
	url = https://github.com/nasa-jpl/osr-rover-code
